---
import NavLink from "../components/NavLink";
import Social from "../components/Social";
import Layout from "../layouts/Layout.astro";
import "../styles/global.scss";
import {
    dockerSvg,
    freeCCSvg,
    githubSvg,
    linkedInSvg,
    phoneSvg,
    puzzleSvg,
    questionMarkSvg,
} from "../svgs"
---

<Layout title="Buntu Cossie">
    <main>
        <section id="homeContainer">
            <nav id="navbar">
                <NavLink
                    href="#projects"
                    icon={puzzleSvg}
                    label="Projects"
                />
                <NavLink
                    href="#about"
                    icon={questionMarkSvg}
                    label="About"
                    />
                <NavLink
                    href="#contact"
                    icon={phoneSvg}
                    label="Contact"
                />
            </nav>
            <div id="welcome">
                <h1 id="name">Cossie</h1>
                <hr />
                <h2 id="title">Full-Stack Developer</h2>
            </div>
            <div class="socials">
                <Social
                    href="https://github.com/cossieB"
                    icon={githubSvg}
                    label="GitHub"
                />
                <Social
                    href="https://www.linkedin.com/in/cossieb/"
                    icon={linkedInSvg}
                    label="LinkedIn"
                />
                <Social
                    href="https://hub.docker.com/u/cossie"
                    icon={dockerSvg}
                    label="Docker Hub"
                />
                <Social
                    href="https://www.freecodecamp.org/cossie"
                    icon={freeCCSvg}
                    label="freeCodeCamp"
                />

                <div class="lineV"></div>
            </div>
        </section>
    </main>
</Layout>

<style lang="scss">
    @import "../styles/mixins", "../styles/variables";
    // @import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap");

    $clr3: #0051ff;
    $navHeight: 50px;

    #homeContainer {
        flex-direction: column;
        color: white;
        height: 100vh;

        svg,
        img {
            fill: $neonblue;
            color: $neonblue;

            &:hover {
                text-shadow: 0 0 10px 10px $neonblue;
            }
        }
    }
    
    hr {
        width: 25%;
    }
    #name,
    #title {
        font-family: "Stick No Bills", sans-serif;
    }

    #navbar {
        width: 100%;
        height: $navHeight;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        top: 0px;
        left: 0px;

        a {
            color: $grayishhwhite;
            font-size: 20px;
            text-decoration: none;
        }

        svg {
            height: 2rem;
            width: 2rem;
        }
    }

    .navDiv {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 0.5rem;
        margin-top: 0.5rem;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 0%;
            border-bottom: 2px solid $neonblue;
            transition: width 200ms ease;
        }
        &:hover {
            &::before {
                width: 100%;
            }
            svg {
                fill: $clr3 !important;
                color: $clr3;
            }
        }
    }

    .homepageLinks {
        padding-right: 2rem;
    }

    #welcome {
        position: relative;
        height: calc(100vh - $navHeight);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .socials {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 50%;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        > a {
            margin-top: 1rem;
        }

        svg {
            height: 2rem;
            width: 2rem;
            &:hover {
                fill: $clr3 !important;
            }
        }
    }

    .lineV {
        border-left: $neonblue 2px solid;
        height: 100%;
    }

    @media (max-width: 768px) {
        #navbar {
            width: 100vw;
            height: 5rem;
            overflow-x: scroll;
            -ms-overflow-style: none;

            /* IE and Edge */
            scrollbar-width: none;

            /* Firefox */

            &::-webkit-scrollbar {
                display: none;
            }

            a {
                font-size: 16px;
            }

            span {
                display: none;
            }
        }
    }
</style>
